<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
</head>
<body>

<main>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/admin" class="nav-link">Create</a></li>
                <li class="nav-item"><a href="/admin/read" class="nav-link">Read</a></li>
                <li class="nav-item"><a href="/admin/find" class="nav-link">Find</a></li>
                <li class="nav-item"><a href="/admin/update" class="nav-link active" aria-current="page">Update</a></li>
                <li class="nav-item"><a href="/admin/delete" class="nav-link">Delete</a></li>
            </ul>
        </header>
    </div>

</main>

<main>
    <div class="container">
        <% if(err) { %>

        <% } %>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Update dataminer</h4>
            <form action="/admin/update" class="needs-validation" method="POST">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="currUsername" class="form-label">Current Username</label>
                        <input type="text" class="form-control" name="currUsername" id="currUsername" placeholder=""
                               value="" required>
                        <div class="invalid-feedback">
                            Valid username is required.
                        </div>
                    </div>
                </div>
                <br>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="email" class="form-label">New Email</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="" value=""
                               required>
                        <div class="invalid-feedback">
                            Valid email is required.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="username" class="form-label">New Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="" value=""
                               required>
                        <div class="invalid-feedback">
                            Valid username is required.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="phone" class="form-label">New Phone</label>
                        <input type="number" class="form-control" name="phone" id="phone" placeholder="" value=""
                               required>
                        <div class="invalid-feedback">
                            Valid phone is required.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder=""
                               value="" required>
                        <div class="invalid-feedback">
                            Valid password is required.
                        </div>
                    </div>
                </div>
                <br>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Update</button>
            </form>
            <br>
            <div class="row g-3">
                <% if(newSeller != null){ %>
                    <h5 class="mb-3">User '<%= oldSeller %>' successfully updated</h5>
                    <table>
                        <tr>
                            <td>Username</td>
                            <td>Email</td>
                            <td>Phone</td>
                            <td>Password (Hashed)</td>
                        </tr>
                        <tr>
                            <td><%= newSeller.username %></td>
                            <td><%= newSeller.email %></td>
                            <td><%= newSeller.phone %></td>
                            <td><%= newSeller.password %></td>
                        </tr>
                    </table>
                <% } %>
            </div>
        </div>
    </div>
</main>


    <form action="/admin/logout" method="POST">
        <button>Logout</button>
    </form>
</body>
</html>
